<!-- frontend code for image processing -->
<!--project!!-->
<html>
<title> Image Processing </title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!--Link Style.css file here-->
<link rel="stylesheet" href="static\style.css">
<body><br>


<h1>Image Processing</h1><hr>

<form action="/gray" method="post" enctype="multipart/form-data"></br></br>

    <h2>Select an Image for adding a Black & White effect to it.</h2>

    <input class="btn btn-primary btn-lg" type="file" name="file"></br></br>

    <input class="btn btn-primary btn-lg" type="submit" value="submit"></br></br>

    <h3>{{message}}</h3>

    <video autoplay="autoplay" controls="controls"><source  src="{{url_for('display_image',filename=filename) }}" type="video/mp4"></source></video>

</form>


</body>
</html>
